@media (min-width: 1080px) {
    body > header {
        flex-direction: row;
        align-items: center;
    }

    body > main {
        flex-direction: row;
        text-align: left;
    }

    body > main > article {
        margin-right: 32px;
    }
}


